<div class="content">
    <div class="container">
        <div class="title">Crear Cuenta</div>
        <form [formGroup] = "SignupForm" (submit)="createUser()">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Nombre</span>
                    <input type="text" placeholder="Ingresa tu nombre" required formControlName="name" [(ngModel)]="name">
                </div>

                <div class="input-box">
                    <span class="details">Apellido</span>
                    <input type="text" placeholder="Ingresa tu nombre" required formControlName="lastname" [(ngModel)]="lastname">
                </div>

                <div class="input-box">
                    <span class="details">Cumpleaños</span>
                    <input type="date" placeholder="Ingresa tu nombre" required formControlName="birthday" [(ngModel)]="birthday">
                </div>

                <div class="input-box">
                    <span class="details">Foto de Perfil</span>
                    <input type="text">
                </div>

                <div class="input-box">
                    <span class="details">Correo</span>
                    <input type="email" placeholder="Ingresa tu nombre" required formControlName="email" [(ngModel)]="email">
                </div>

                <div class="input-box">
                    <span class="details">Contraseña</span>
                    <input type="password" placeholder="Ingresa tu nombre" required formControlName="password" [(ngModel)]="password">
                </div>
            </div>

            <div class="button">
                <input type="submit" [disabled]="SignupForm.invalid">
            </div>

        </form>
    </div>
</div>