<div class="content">
    <div class="container">
        <div class="title">Crear Cuenta</div>
        <form (submit)="createUser()">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Nombre</span>
                    <input type="text" placeholder="Ingresa tu nombre" [(ngModel)]="userCreated.name" name="name">
                </div>

                <div class="input-box">
                    <span class="details">Apellido</span>
                    <input type="text" placeholder="Ingresa tu nombre" [(ngModel)]="userCreated.last_name" name="last_name">
                </div>

                <div class="input-box">
                    <span class="details">Cumpleaños</span>
                    <input type="date" placeholder="Ingresa tu nombre" [(ngModel)]="userCreated.birthday" name="birth">
                </div>

                <div class="input-box">
                    <span class="details">Foto de Perfil</span>
                    <input type="text" [(ngModel)]="userCreated.profile_picture" name="profile_picture">
                </div>

                <div class="input-box">
                    <span class="details">Correo</span>
                    <input type="email" placeholder="Ingresa tu nombre" [(ngModel)]="userCreated.email" name="email">
                </div>

                <div class="input-box">
                    <span class="details">Contraseña</span>
                    <input type="password" placeholder="Ingresa tu nombre" [(ngModel)]="userCreated.password" name="password">
                </div>
            </div>

            <div class="button">
                <button class="input">Crear usuario</button>
            </div>

            <div class="container2">
                <div class="line2"></div>
                <span>Or</span>
                <div class="line2"></div>
            </div>

            <div class="googleButton">
                <asl-google-signin-button style="margin:auto;" type='icon' size='large' ></asl-google-signin-button>
            </div>

        </form>
    </div>
</div>