<div class="content">
    <div class="container">
        <div class="title">Crear Cuenta</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Nombre</span>
                    <input type="text" placeholder="Ingresa tu nombre" required>
                </div>

                <div class="input-box">
                    <span class="details">Apellido</span>
                    <input type="text" placeholder="Ingresa tu nombre" required>
                </div>

                <div class="input-box">
                    <span class="details">Cumpleaños</span>
                    <input type="date" placeholder="Ingresa tu nombre" required>
                </div>

                <div class="input-box">
                    <span class="details">Foto de Perfil</span>
                    <input type="file">
                </div>

                <div class="input-box">
                    <span class="details">Correo</span>
                    <input type="email" placeholder="Ingresa tu nombre" required>
                </div>

                <div class="input-box">
                    <span class="details">Contraseña</span>
                    <input type="passsword" placeholder="Ingresa tu nombre" required>
                </div>
            </div>

            <div class="button">
                <input type="submit" value="Crear">
            </div>

        </form>
    </div>
</div>