<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="container">
    <div class="profile-card">
        <div class="image-container">
            <img src={{user.profile_picture}} style="width: 100%">
        </div>
        <div class="main-container">
          <p>{{user.name}} {{user.last_name}}</p>
            <p>{{user.email}}</p>

            <div class="w3-container">
                <div class="button">
                    <button onclick="document.getElementById('id01').style.display='block'" class="input">Publicaciones</button>
                </div>
              
                <div id="id01" class="w3-modal">
                  <div class="w3-modal-content">
                    <header class="w3-container w3-teal"> 
                      <span onclick="document.getElementById('id01').style.display='none'" 
                      class="w3-button w3-display-topright">&times;</span>
                      <h2>Publicaciones</h2>
                    </header>
                    <div class="w3-container">
                      <div *ngFor="let item of posts" class="contact-card">
                        <img (click)="setPetPost(item)" src="{{item.images[0]}}" alt="Imagen de contacto" class="contact-image">
                        <div class="contact-details">
                          <h3 class="contact-name">Especie: {{item.kind_animal}}</h3>
                          <div (click)="borrarPost(item._id)" class="delete-button"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

