.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e73c7e, #23a6d5);
}

.profile-card{
    width: 400px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
    text-align: center;
    justify-content: center;
}

.image-container{
    position: relative;
}

.title, .main-container {
    display: inline-block;
    text-align: center;
    font-size: 25px;
}
