.container {
    display: flex;
    // height: 100vh;
    height: calc(100% - 55px);
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e73c7e, #23a6d5);
}

.profile-card {
    width: 400px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    margin: 0 10px;
}

.image-container {
    position: relative;
}

.title,
.main-container {
    display: inline-block;
    text-align: center;
    font-size: 25px;
}

.button {
    height: 45px;
    margin: 30px 0 0 0;
}

.button .input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #e73c7e, #23a6d5);
}

.button .input:hover {
    background: linear-gradient(135deg, #23a6d5, #e73c7e);
}

