.container {
    display: flex;
    // height: 100vh;
    height: calc(100% - 55px);
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e73c7e, #23a6d5);
}

.profile-card {
    width: 400px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    margin: 0 10px;
}

.image-container {
    position: relative;
}

.title,
.main-container {
    display: inline-block;
    text-align: center;
    font-size: 25px;
}

.main-container {
    padding-top: 15px;
}

.button {
    height: 45px;
    margin: 15px 0 20px 0;
}

.button .input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #e73c7e, #23a6d5);
}

.button .input:hover {
    background: linear-gradient(135deg, #23a6d5, #e73c7e);
}

.contact-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contact-name {
    margin: 0;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.delete-button {
    width: 30px;
    height: 30px;
    background-image: url('https://th.bing.com/th/id/R.27299b1faed2d63a3e9512bd8cd187ad?rik=%2fVRT3CdCaWVC3w&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fdelete-button-png-delete-icon-1600.png&ehk=mRIiUoExO9FPzeoYwqDk%2bfWDlxlcYGmfTbaQ2Pbwyak%3d&risl=&pid=ImgRaw&r=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}