<div class="intro">
    <div>
        <img id='logo'
            src="https://user-images.githubusercontent.com/52970365/233678106-9cd07471-649a-451a-be38-00b0cd368fc8.png"
            alt="">

        <p>¡Adopta y cambia tu vida y la de un peludo!</p>
    </div>


</div>

<form class="form-container">
    <div class="scroll-x-auto">
        <div class="form-group">
            <select id="species" name="species">
                <option value="">Especie...</option>
                <option value="dog">Perro</option>
                <option value="cat">Gato</option>
                <option value="bird">Pajaro</option>
                <option value="rabbit">Conejo</option>
                <option value="hamster">Hamster</option>
            </select>
        </div>

        <div class="form-group">
            <select id="vaccinated" name="vaccinated">
                <option value="">Vacunado...</option>
                <option value="yes">Si</option>
                <option value="no">No</option>
            </select>
        </div>

        <div class="">
            <select id="castrated" name="castrated">
                <option value="">Castrado...</option>
                <option value="yes">Si</option>
                <option value="no">No</option>
            </select>
        </div>
    </div>


    <div class="margin-left">
        <button type="button" id="search-button">Search</button>
    </div>
</form>


<div class="gallery">
    <div *ngFor="let item of filteredPosts" class="image-container">
        <a routerLink={{item._id}}>
            <div class="image" style="background-image: url('{{item.images[0]}}')">
            </div>
        </a>
    </div>
</div>