#logo {
    width: 300px;
    height: auto;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

form {
    margin: 20px;
    margin-top: 10px;
}

.scroll-x-auto {
    overflow-x: auto;
    // overflow-x: hidden;
    // white-space: nowrap;
    display: flex;
    align-items: center;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form-group {
    margin-right: 20px;
}

.margin-left {
    margin-left: 20px;
}

select {
    width: 200px;
    height: 40px;
    border: 2px solid #E73C7E;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    padding: 5px;
    background-color: #fff;
}

option[value=""] {
    color: #ccc;
}

button {
    padding: 8px 15px;
    background-color: #E73C7E;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ad1457;
}

#search-button {
    height: 40px;
}

.gallery {
    display: grid;
}

.image-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

.image-container:hover .image {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 1);
    transform: scale(1.1);
}

.image-container a {
    display: block;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

@media (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}