* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/loginBack.jpg');
    background-size: cover;
}

.container {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
}

#init::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #e73c7e, #23a6d5);
}

.container form .user-details {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form .user-details .input-box {
    //width: calc(100% / 2 - 20px);
    margin: 20px 0 12px 0;
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 13px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #23a6d5;
}

form .button {
    height: 45px;
    margin: 30px 0 0 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #e73c7e, #23a6d5);
}

form .button input:hover {
    background: linear-gradient(135deg, #23a6d5, #e73c7e);
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        width: 100%;
        margin: 20px 0 12px 0;
    }

    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
}