<div class="content">
    <div class="container">
        <div class="title"><p id="init">Iniciar Sesión</p></div>
        <form action="#">
            <div class="user-details">

                <div class="input-box">
                    <span class="details">Correo</span>
                    <input type="email" placeholder="Ingresa tu nombre" required>
                </div>

                <div class="input-box">
                    <span class="details">Contraseña</span>
                    <input type="passsword" placeholder="Ingresa tu nombre" required>
                </div>
            </div>

            <div class="button">
                <input type="submit" value="Entrar">
            </div>

        </form>
    </div>
</div>
