<div class="content">
    <div class="container">
        <div class="title">
            <p id="init">Iniciar Sesión</p>
        </div>
        <form (submit)="iniciarSesion()">
            <div class="user-details">

                <div class="input-box">
                    <span class="details">Correo</span>
                    <input type="email" name="email" [(ngModel)]="credenciales.email">
                </div>

                <div class="input-box">
                    <span class="details">Contraseña</span>
                    <input type="password" name="password" [(ngModel)]="credenciales.password">
                </div>
            </div>
            <div class="button">
                <button class="input">Iniciar sesion</button>
            </div>

            <div class="container2">
                <div class="line2"></div>
                <span>Or</span>
                <div class="line2"></div>
            </div>

            <div class="googleButton">
                <asl-google-signin-button style="margin:auto;" type='icon' size='large' ></asl-google-signin-button>
            </div>

        </form>
    </div>
</div>