/* Global Styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

/* Chat Styles */

.chat-container {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    display: flex;
    height: calc(100% - 55px);
    background-color: white;
    margin: auto;
}

.chat-header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #23A6D5;
    color: #fff;
    flex: 0 0 60px;
}


h2 {
    margin: 0;
}

.chat-messages {
    overflow-y: scroll;
    padding: 0 10px;
    height: calc(100% - 108px);
}

.chat-messages > div {
    display: flex;
}

.message {
    padding: 3px 10px 0 10px;
    background-color: #23A6D5;
    display: inline-block;
    max-width: 80%;
    color: #fff;
    border-radius: 10px;
    margin-top: 3px;
}

.received {
    margin-right: auto;
}

.sent {
    margin-left: auto;
    background-color: #efefef;
    color: #000;
}

.message-meta {
    font-size: 12px;
}
.sent .message-meta {
    color: #888;
    text-align: right;
}
.received .message-meta {
    color: #c1efff;
    text-align: right;
}

.first {
    margin-top: 12px;
}

.first.received {
    border-radius: 0px 10px 10px 10px;
}

.first.sent {
    border-radius: 10px 0px 10px 10px;
}

.message > a {
    font-size: 14px;
    // font-weight: 600;
    color: #FFF;
    color: #000000;
    text-decoration: none;

}

/* Chat form */

.chat-form {
    height: 58px;
    padding: 10px;
    display: flex;
}

.chat-form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

.chat-form button {
    width: 100px;
    padding: 10px 20px;
    background-color: #23A6D5;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.chat-sidebar {
    background-color: #eee;
    width: 300px;
    padding: 10px;
}

.chat-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.chat-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-item h3 {
    margin: 0;
    font-size: 14px;
}

.chat-item p {
    font-size: 12px;
    color: #888;
    margin: 0;
}

p {
    margin: 0;
}

li {
    margin: 10px 0;
}