<div class="chat-container" style="background-color: #EFEFEF;">
    <div style="width: 100%; max-width: 1000px; height: 100%; margin: auto; background-color: white">
        <div class="chat-header">
            <div>
                <h2>Chat general</h2>
            </div>
        </div>
        <div class="chat-messages" style="overflow-y: scroll;">
            <div *ngFor="let item of messages; let i = index">
                <div *ngIf="!item.owned" class="received message"
                    [ngClass]="{'first': i == 0 || !(messages[i-1].userId == messages[i].userId)}">
                    <a *ngIf="i == 0 || !(messages[i-1].userId == messages[i].userId)"
                        routerLink="/profile/{{item.userId}}">
                        {{item.name}} {{item.last_name}}
                    </a>

                    <p>{{item.message}}</p>
                    <p class="message-meta">{{item.time.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric',
                        hour12: true })}}</p>
                </div>

                <div *ngIf="item.owned" class="sent message"
                    [ngClass]="{'first': i == 0 || !(messages[i-1].userId == messages[i].userId)}">
                    <p>{{item.message}}</p>
                    <p class="message-meta">{{item.time.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric',
                        hour12: true })}}</p>
                </div>
            </div>
        </div>
        <div class="chat-form">
            <input (keyup.enter)="sendNewMessage()" type="text" [(ngModel)]="message"
                placeholder="Type your message...">
            <button (click)="sendNewMessage()">Send</button>
        </div>
    </div>
</div>