<div class="chat-container">
    <div class="sidebar">
        <ul class="chat-list">
            <li class="chat-item active">
                <img src="perfil1.jpg" alt="Perfil 1">
                <span>Persona 1</span>
            </li>
            <li class="chat-item">
                <img src="perfil2.jpg" alt="Perfil 2">
                <span>Persona 2</span>
            </li>
            <li class="chat-item">
                <img src="perfil3.jpg" alt="Perfil 3">
                <span>Persona 3</span>
            </li>
        </ul>
    </div>
    <div class="main">
        <div class="chat-header">
            <img src="perfil1.jpg" alt="Perfil 1">
            <span>Persona 1</span>
        </div>
        <ul class="message-list">
            <li class="message received">
                <span>Hola, ¿cómo estás?</span>
            </li>
            <li class="message sent">
                <span>Muy bien, gracias. ¿Y tú?</span>
            </li>
            <li class="message received">
                <span>Estoy bien también. ¿Qué has estado haciendo?</span>
            </li>
            <li class="message sent">
                <span>No mucho, solo trabajando. ¿Y tú?</span>
            </li>
        </ul>
        <div class="message-input">
            <input type="text" placeholder="Escribe un mensaje...">
            <button>Enviar</button>
        </div>
    </div>
</div>