<div class="nav-wrapper">
    <div class="grad-bar"></div>
    <nav class="navbar">
        <img style="cursor: pointer;" routerLink="/" src="https://user-images.githubusercontent.com/52970365/232339883-ed6c1627-61c2-42c7-87f7-d97b80da79b2.png"
            alt="Company Logo">
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul *ngIf="logueado" class="nav no-search" style="grid-template-columns: repeat(6, 1fr);">
            <li class="nav-item"><a routerLink="/">Home</a></li>
            <li class="nav-item"><a routerLink="posts">Posts</a></li>
            <li class="nav-item"><a routerLink="create-post">+Post</a></li>
            <li class="nav-item"><a routerLink="chats">Chats</a></li>
            <li class="nav-item"><a routerLink="profile/{{userId}}">Profile</a></li>
            <li class="nav-item"><a (click)="logOut()" style="cursor: pointer;">Log out</a></li>
        </ul>
        <ul *ngIf="!logueado" class="nav no-search" style="grid-template-columns: repeat(4, 1fr);">
            <li class="nav-item"><a routerLink="/">Home</a></li>
            <li class="nav-item"><a routerLink="posts">Posts</a></li>
            <li class="nav-item"><a routerLink="login">Login</a></li>
            <li class="nav-item"><a routerLink="sign-up">Sign up</a></li>
        </ul>
    </nav>
</div>