<div class="container">
    <mat-card class="example-card">
        <a href="http://localhost:4200/profile/{{post.user_id}}"><mat-card-header>
                <div mat-card-avatar class="example-header-image"
                    style="background-image: url('{{user.profile_picture}}');"></div>
                <mat-card-title>{{user.name}} {{user.last_name}}</mat-card-title>
                <mat-card-subtitle style="color: black;">
                    <span *ngIf="post.purpose_achieved">Ya fue adoptado</span>
                    <span *ngIf="!post.purpose_achieved">No ha sido adoptado</span>
                </mat-card-subtitle>
            </mat-card-header></a>

        <div class="image" style="background-image: url('{{post.images[0]}}')">
        </div>
        <mat-card-content>
            <p *ngIf="post.name !== 'No name'"><span>Nombre:</span> {{post.name}}</p>
            <p *ngIf="post.description !== ''"><span>Descripcion:</span> {{post.description}}</p>
            <p *ngIf="post.age !== -1"><span>Edad:</span> {{post.age}} años</p>
            <div class="horizontal">
                <p><span>Especie:</span> {{post.kind_animal}}</p>
                <p *ngIf="post.race !== 'Unknown'"><span>Raza:</span> {{post.race}}</p>
            </div>
            <div class="horizontal">
                <p *ngIf="post.vaccinated !== false"><span>Vacunado:</span> Si</p>
                <p *ngIf="post.vaccinated == false"><span>Vacunado:</span> No</p>
                <p *ngIf="post.castrated !== false"><span>Castrado:</span> Si</p>
                <p *ngIf="post.castrated == false"><span>Castrado:</span> No</p>
            </div>
            <div class="horizontal">
                <p *ngIf="post.height_cm !== -1"><span>Altura:</span> {{post.height_cm}} cm</p>
                <p *ngIf="post.long_cm !== -1"><span>Ancho:</span> {{post.long_cm}} cm</p>
                <p *ngIf="post.weight_kg !== -1"><span>Peso:</span> {{post.weight_kg}} kg</p>
            </div>
        </mat-card-content>
        <div class="horizontal" style="margin: 20px 0 10px 0">
            <a routerLink="/chats">
                <div class="iconButton"
                    style="background-image: url('https://cdn0.iconfinder.com/data/icons/kameleon-free-pack-rounded/110/Chat-2-1024.png')">
                </div>
            </a>

            <div class="c-share">
                <input class="c-share__input" type="checkbox" id="checkbox">
                <label class="c-share__toggler" for="checkbox">
                    <span class="c-share__icon"></span>
                </label>

                <ul class="c-share_options" data-title="Share">
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Google</li>
                    <li>Email</li>
                </ul>
            </div>
        </div>

    </mat-card>

</div>